@font-face {
  font-family: 'monospace';
  src: url('../fonts/Glegoo-Regular.woff2') format('woff2'),
       url('../fonts/Glegoo-Regular.woff') format('woff'),
       url('../fonts/Glegoo-Regular.ttf') format('truetype')
}
#remgo {
  background-color: darkslategray;
  color: white;
  font-size: 50px;
  padding: 5px 10px;
  position: fixed;
  top: 0px;
  left: 0px;
}
.main {
  position: relative;
  padding: 5px;
}
#portrait{
  width: 500px;
  height: 400px;
}
figcaption {
  color: white;
  font-weight: 200;
}
#portrait:hover {
  background-color: #004E89;
  border-color: #004E89;
}
#port {
  padding: 0 auto;
}
#introduce{
  padding: 50px 0px 50px;
}
#vary{
  border: 1px dotted blue;
  border-radius: 15px;
  width: 400px;
}
h1 {
  color: darkslategray;
}

.list {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100px;
}
button{
  width: 100px; 
  height:30px; 
  background-color: yellow; 
  color: black;
  font-size: 20px;
  border-radius: 15px;
}
button:hover{
  background-color: red; 
}


h2 {
  color: rgba(0,0,0,0.5);
}

h3 {
  color: blue;
  padding: 10px;
  margin: 0px 10px;
}

table {
  color: black;
  font-family: san-serif;
  background-color: pink;
}


.list {
  padding: 0 10px;
  margin: 5px 10px;
}

.list h2 {
 color: black; 
}

#font{
  padding: 5px 10px;
  margin: 10px 10px;
}

.font {
  background-color: Ivory;
  padding: 5px;
}

#serif {
  font-family: serif;
  font-weight: 300;
  text-align: center;
  color: white;
  background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: 300px 100px;
  background-position: center;
}

#bree {
  font-family: 'Bree+Serif';
  font-size: 25px;
}

#mono{
  font-family: monospace;
  height: 25px;
  font-size: 30px;
  text-align: center;
}

footer{
  background-color: DarkSeaGreen;
  text-align: center;
  font-family: monospace;
  padding: 30px 30px;
  margin: 20px 20px;
}

