@font-face {
  font-family: 'monospace';
  src: url('../fonts/Glegoo-Regular.woff2') format('woff2'),
       url('../fonts/Glegoo-Regular.woff') format('woff'),
       url('../fonts/Glegoo-Regular.ttf') format('truetype')
}
#vary{
  border: 1px dotted blue;
  border-radius: 15px;
  width: 400px;
}
h1 {
  color: darkslategray;
}
#remgo {
  background-color: darkslategray;
  color: white;
  font-size: 50px;
  padding: 5px 10px;
}
#san {
  color: red;
  font-size: 20px;
  font-family: monospace;
}

.list {
    border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}


figcaption {
  color: red;
  font-weight: 200;
  width: 300px;
}

h2 {
  color: rgba(0,0,0,0.5);
}

h3 {
  color: blue;
  padding: 10px;
  margin: 0px 10px;
}

table {
  color: black;
  font-family: san-serif;
  background-color: pink;
}


.list {
  padding: 0 10px;
  margin: 5px 10px;
}

.list h2 {
 color: black; 
}

#font{
  padding: 5px 10px;
  margin: 10px 10px;
}

.font {
  background-color: Ivory;
  padding: 5px;
}

#serif {
  font-family: serif;
  font-weight: 300;
  color: white;
  background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: 300px 100px;
  background-position: center;
}

#bree {
  font-family: 'Bree+Serif';
  font-size: 25px;
}

#mono{
  font-family: monospace;
  height: 25px;
  font-size: 30px;
  text-align: center;
}

footer{
  background-color: DarkSeaGreen;
  text-align: center;
  font-family: monospace;
  padding: 10px 10px;
}
